.header-panel
{
    width:100%;
    background-color: black;
    color:white;
    font-size: 3rem;
    position: fixed;
    top:0;
    display: flex;
    justify-content:space-around;
}

button
{
    font-size: 2rem;
}

#bottom-menu
{
    
}

.board-task
{
    width:50%;
}