.inline-input
{
    //width:80%;

}
.details-input
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details-input input
{
    flex-grow: 2;
}

.validate-subtask-icon
{   
    width:80px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.details-subtasks
{
    margin-top: 10%;
}
.details-subtask
{
    margin-top: 2%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    
}

.task-done
{
    text-decoration: line-through;
}

.details-separator
{
    margin: auto;
    
    margin-top: 7%;
    margin-bottom: 7%;
    
    width:90%;
    border-bottom: 1px solid;
}