*{
    margin:0px;
    padding:0px;
}
body
{
    width:100%;
    font-size: 2.5rem;
    background-color: #f5f5f5;
}
a
{
    text-decoration: none;
}

.header-panel
{
    width:100%;
    color:white;
    font-size: 3rem;
    position: fixed;
    top:0;
    font-family: gotham-bold-italic;
}

.header-title
{
    margin-left: 10%;
}

.fixed-bottom
{
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.page-content
{
    margin-top: 10%;
}

.alternative-content
{
    margin-left: 5%;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.full-input
{
    width:100%;
    border: none;
    height:100px;
    font-size: 2rem;
    font-family: gotham-light;
    padding-left: 20px;
}