*{
    margin:0px;
    padding:0px;
}
body
{
    width:100%;
    font-size: 2.5rem;
}
a
{
    text-decoration: none;
}

.fixed-bottom
{
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.page-content
{
    margin-top: 10%;
    
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}