
.validate-button
{
    display: block;
    width:100%;
    height:160px;
}
.validate-button button{
    width:100%;
    border: none;

}

.validate-button img
{
    position: relative;
    width:10%;
    margin-left: 50%;
    margin-top:2%;
}
